<div class="container">
  <h1> Websocket application </h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group pt-3">
      <label for="message">Text message: </label>
      <input id="message" class="form-control" type="text" formControlName="message">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Send</button>

    <div class="form-group pt-3">
      <label class="form-group" for="result">Processed message: </label>
      <input id="result" class="form-control" readonly formControlName="result">
    </div>
  </form>
</div>